* {
    margin: 0;
    padding: 0;
}

.colorLetra{
    color: #121481;
}


.contenido-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    width: 80%;
    margin: 8rem auto;
}

.formulario-container {
    flex-grow: 1;
    margin-right: 10px;
    height: 100%;
}

.formulario-container form {
    width: 100%;
}
.formulario-container form * {
    padding: 6px;
}

.formulario-container form label,
.formulario-container form input,
.formulario-container form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.formulario-container form .form-group {
    display: flex;
    justify-content: space-between;
}

footer{
    background-color: #000000;
}

@media (max-width: 768px) {
    .contenido-container {
        flex-direction: column;
    }
}

.button {
    width: 30%;
    padding: 10px 20px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: #121481;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

@media only screen and (max-width: 1024px) {
    .contenido-container{
        display: flex;
        flex-direction: column;
    }
    .contenedor-atencion{
        margin-top: 3rem;
    }

    iframe{
        width: 100%;
    }
}