*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: black;
}

.navegador-detalle{
    margin-top: 4rem;
}
.contenedor{
    display: flex;
    width: 80%;
    margin: 0 auto 5rem;
    background-color: #ececec;
    position: relative;
}

.contenedor-imagen{
    margin-right: 2rem;
}

.contenedor-imagen img{
    height: 607px;
}

.contenedor-detalle h1{
    margin: 3rem 0;
}

.contenedor-detalle .notas-libro{
    margin-top: 3rem;
}

.contenedor-detalle .precio{
    margin-top: 3rem;
    font-size: 1.2rem;
}

.breadcrumb{
    margin-left: 2rem;
    width: 80%;
    margin: 0 auto;
}

.breadcrumb .nav-cell{
    color: red;
    text-decoration: none;
}

.boton-compra{
    position: absolute;
    right: 5%;
    bottom: 5%;
    border: none;
    background-color: #121482;
    padding: 1rem;
    border-radius: 0.4rem;
}

.boton-compra a{
    text-decoration: none;
    color: #FFFFFF;
}

.boton-compra:hover{
    background-color: #1F23E0;
}
