* {
    color: #121481;
}

.slick-slide img {
    width: 100%;
    height: auto;
}

.books {
    flex: 4;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.book-card {
    width: calc(20% - 20px);
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.book-card:last-child {
    margin-right: 0;
}

.book-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.book-card-content {
    padding: 20px;
    flex-grow: 1;
}

.book-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.book-price {
    margin: 0;
}

.book-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.book-buttons button {
    padding: 10px 20px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: #121481;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-buttons button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .books {
        flex: 2;
    }

    .book-card {
        width: calc(50% - 20px);
    }
}
