* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
background-image: url("../images/fondo-nuevo-usuario.jpg");
}

.contenedor{
    display: flex;
    justify-content: center;
}


.rellenar{
    padding-bottom: 5%;
}

.div-boton{
    float: right;
}

.contenedor-grande{
    background-color: #cdcdcd;
    padding: 2.5rem;

}

