* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.contenedor-titulo{
    background-color: rgb(236, 232, 232);
}

.contenedor-formulario{
    display: grid;
    grid-template-columns: auto auto;
}