<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/mostrarAmigos.css}"/>
    <title>Title</title>

    <div th:replace="header_footer::head"></div>

</head>
<body>

<header th:replace="header_footer :: header">

</header>

<div class="container">
    <div th:each="usuario : ${usuarios}" class="contenedor">
        <div>
            <div class="avatar-perfil">
                <img th:src="@{'/images/' + ${usuario.foto}}" th:alt="${usuario.foto}">
            </div>
            <div class="nombre">
                <h2 th:text="${usuario.nombreDeUsuario}"></h2>
            </div>
        </div>
        <div class="descripcion">
            <h4>Descripción:</h4>
            <p th:text="${usuario.descripcion}"></p>
            <div class="preferencias">
                <span class="etiqueta" th:text="${usuario.generoFav1}"></span>
                <span class="etiqueta" th:text="${usuario.generoFav2}"></span>
            </div>

            <form th:action="@{/enviar-solicitud}" method="post">
                <input type="hidden" th:name="idAmigo" th:value="${usuario.getId()}">
                <button type="submit" class="btn btn-primary configuracion"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Agregar amigo
                </button>
            </form>

        </div>
    </div>
</div>
<script th:src="@{/js/menuUsuario.js}"></script>

</body>
</html>