<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/comprar.css}"/>
    <title>Comprar</title>
    <!-- Bootstrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <div th:replace="header_footer :: head"></div>
</head>
<body>
<header th:replace="header_footer :: header"></header>
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mb-3" th:each="libro : ${librosComprados}">
                    <div class="row g-0" style="position: relative;">
                        <div class="col-md-4">
                            <img th:src="${libro.ruta}" th:alt-title="${libro.titulo}"
                                 class="img-fluid rounded-start" alt="..." width="286px" height="410px">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${libro.titulo}">Título del Libro</h5>
                                <p class="card-text" th:text="${libro.precio}">$ Precio del Libro</p>
                            </div>
                            <form accept-charset="UTF-8" th:action="@{/eliminarLibroDeCarrito}" method="post">
                                <input type="hidden" th:name="titulo" th:value="${libro.titulo}">
                                <button type="submit" class="btn btn-danger " id="botonEliminar" data-bs-toggle="modal">
                                    Eliminar libro
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="confirmacion-compra">
                    <p>Subtotal: $<span th:text="${subtotal}"></span></p>
                    <div th:if="${usuario.getPlan().getTipoPlan().getNombre() == 'premium' or usuario.getPlan().getTipoPlan().getNombre() == 'standard' or usuario.getPlan().getTipoPlan().getNombre() == 'basic'}">
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal2">Cupón de Descuento
                        </button>
                    </div>
                    <div id="inputContainer" style="display: none;">
                        <input type="text" id="couponInput" name="codigo" class="input-field form-control">
                        <label for="couponInput" class="input-label">Cupón de Descuento</label>
                    </div>

                    <div th:if="${usuario.getPlan().getTipoPlan().getNombre() == 'premium'}">
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal1">Agregar libro en forma de pago
                        </button>
                    </div>

                    <p>Total: $<span th:text="${total}">0.00</span></p>

                    <form th:action="@{/comprar}" method="post">
                        <input type="hidden" th:name="precioFinal" th:value="${total}">
                        <button type="submit" style="border:none">
                            <div id="wallet_container">

                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel3">Elige uno de tus libros para dar en forma de
                        pago</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form accept-charset="utf-8" th:action="@{/darLibroEnFormaDePago}" method="post">

                        <section class="tablas lightblue" id="librosComprados">
                            <div th:if="${usuario.librosComprados}">
                                <div th:each="libro : ${usuario.librosComprados}"
                                     class="d-flex align-items-center mb-1">
                                    <input class="form-check-input" type="hidden" name="flexRadioDefault"
                                           th:name="usuario" th:value="${usuario.id}">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                           th:name="libroADar" th:value="${libro.id}">
                                    <img th:src="${libro.ruta}" th:alt="${libro.titulo}" width="143px" height="180px"
                                         style="margin: 0 2rem">
                                    <div>
                                        <h5 class="card-title" th:text="${libro.titulo}"></h5>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary ">Dar libro en forma de pago</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel2">Elije tu cupon de descuento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form accept-charset="utf-8" th:action="@{/aplicarCupon}" method="post">

                        <section class="tablas lightblue" id="librosComprados2">
                            <div th:if="${usuario.cuponesDeDescuento}">
                                <div th:each="cupon : ${usuario.cuponesDeDescuento}"
                                     class="d-flex align-items-center mb-1">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                           th:name="cuponAaplicar" th:value="${cupon.id}">
                                    <p th:text="${cupon.codigo}"></p>
                                </div>
                            </div>
                        </section>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary ">Aplicar cupón</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</main>

<footer th:replace="header_footer :: footer"></footer>
<script>

    const mp = new MercadoPago('APP_USR-1ad60a1a-2341-4c9b-abdc-d41cc1e4d8d7', {
        locale: 'es-AR'
    });

    mp.bricks().create("wallet", "wallet_container", {
        initialization: {
            preferenceId: "<PREFERENCE_ID>",
            redirectMode: "blank"
        },
        customization: {
            texts: {
                valueProp: 'smart_option',
            },
        },
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        console.log("Archivo compra.js cargado");

        document.getElementById("showInput").addEventListener("click", function () {
            console.log("Parrafo clickeado");
            var inputContainer = document.getElementById("inputContainer");
            if (inputContainer.style.display === "none" || inputContainer.style.display === "") {
                inputContainer.style.display = "block";
            } else {
                inputContainer.style.display = "none";
            }
        });
    });
</script>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/carrito.js}"></script>
<script th:src="@{/js/menuUsuario.js}"></script>

</body>
</html>