<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mensajes de Contacto</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/contacto.css}"/>
    <div th:replace="header_footer::head"></div>
</head>
<body>
<header th:replace="header_footer :: header"></header>
<main>
    <div class="container mt-4">
        <h1 class="colorLetra">Mensajes de Contacto</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Mensaje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mensaje : ${mensajes}">
                <td th:text="${mensaje.id}"></td>
                <td th:text="${mensaje.nombre}"></td>
                <td th:text="${mensaje.email}"></td>
                <td th:text="${mensaje.telefono}"></td>
                <td th:text="${mensaje.mensaje}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="header_footer :: footer"></footer>
<script th:src="@{/js/menuUsuario.js}"></script>
<script type="text/javascript" th:src="@{/js/carrito.js}"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>