<!DOCTYPE html >
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8" >
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/header-busqueda.css}"/>
</head>
<body>

<div class="contenedor-header" th:fragment="header">


    <div class="logotipo">
        <a href="home.html"><img th:src="@{/images/logo.png}" width="60px" height="60px" alt="logo"></a>
    </div>

    <div>
        <nav class="contenedor-nav-header">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home.html" target="_top">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="libros.html" target="_top">Catalogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contacto.html" target="_top">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="planes.html" target="_top">Planes</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="contenedor-usuario">

        <a th:href="@{/mostrar-carrito}" class="position-relative">
        <span class="material-symbols-outlined">
            local_mall
        </span>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger numero">
                0
                <span class="visually-hidden">unread messages</span>
            </span>
        </a>
        <a href="perfil.html">
             <span class="material-symbols-outlined">
                person
             </span>
        </a>

        <a th:href="@{/cerrar-sesion}">Cerrar sesion</a>

    </div>

</div>





<div th:fragment="headerBusqueda">

    <div class="contenedor-header">


        <div class="logotipo">
            <a href="home.html"><img th:src="@{/images/logo.png}" width="60px" height="60px" alt="logo"></a>
        </div>

        <div>
            <nav class="contenedor-nav-header">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="libros.html">Catalogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="planes.html">Planes</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="contenedor-usuario">

            <a th:href="@{/mostrar-carrito}" class="position-relative">
        <span class="material-symbols-outlined">
            local_mall
        </span>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger numero">
                0
                <span class="visually-hidden">unread messages</span>
            </span>
            </a>
            <a href="perfil.html">
             <span class="material-symbols-outlined">
                person
             </span>
            </a>

            <a th:href="@{/cerrar-sesion}">Cerrar sesion</a>

        </div>

    </div>

    <div class="contenedor-navegador">

        <nav class="navbar bg-body-tertiary">
            <form action="buscar-libro" method="get" class="container-fluid">
                <div class="input-group inputs">
                    <input type="text"  name="titulo" class="form-control input-group-text textinput" placeholder="Busca un título..." aria-label="titulo" aria-describedby="basic-addon1">

                    <button type="submit" class="buscar">
                    <span class="material-symbols-outlined" id="lupita">
                        search
                    </span>
                    </button>
                </div>
            </form>
        </nav>

    </div>

</div>




<div class="contenedor-footer" th:fragment="footer">

    <div class="redes-sociales">
        <ul class="contenedor-lista-redes">
            <li class="instagram"> <a href="https://www.instagram.com/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z"/></svg></a> </li>
            <li class="facebook"> <a href="https://www.facebook.com/" target="_blank" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95z"/></svg></a> </li>
        </ul>
    </div>

    <div class="navegador-footer">
        <ul class="contenedor-nav-footer">
            <li> <a href="home.html">Home</a></li>
            <li> <a href="libros.html">Catalogo</a></li>
            <li> <a href="planes.html">Planes</a></li>  <!-- chequear href -->
            <li> <a href="perfil.html">Perfil</a></li>
        </ul>
    </div>

    <div class="copyright">
        <p> Copyright Virtual Bookshop - 2024. Todos los derechos reservados.</p>
        <p> Defensa de las y los consumidores.</p>
    </div>
</div>

<script th:src="@{/js/carrito.js}"></script>
</body>
</html>