<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Libros</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/libros.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <div th:replace="header_footer::head"></div>
</head>
<body>
<header th:replace="header_footer :: headerBusqueda"></header>
<main class="contenedor">
    <aside class="filtros">
        <form id="filtrar-libros" th:action="@{/libros}" method="get">

            <label for="editorial">Editorial:</label>
            <select id="editorial" name="editorial">
                <option value="">Selecciona una editorial</option>
                <option th:each="editorial : ${editoriales}"
                        th:value="${editorial}"
                        th:text="${editorial}"></option>
            </select>

            <label for="precio-min">Precio mínimo:</label>
            <input type="number" id="precio-min" name="precio-min" placeholder="Precio mínimo">
            <label for="precio-max">Precio máximo</label>
            <input type="number" id="precio-max" name="precio-max" placeholder="Precio máximo">
            <button type="submit">Filtrar</button>
        <div class="menu-categorias">
            <ul>
                <li th:each="genero : ${generos}">
                    <a th:href="@{'/libros?genero=' + ${genero}}"><p class="genero" type="button" th:text="${genero}"></p></a>
                </li>
            </ul>
        </div>
        </form>
    </aside>
    <section class="libros">
        <div th:each="libro : ${libros}" class="tarjeta-libro">
            <img th:src="${libro.ruta}" th:alt-title="${libro.titulo}" alt="">
            <div class="contenido-tarjeta-libro">
                <h3 class="titulo-libro colorLetra" th:text="${libro.titulo}">Título del Libro</h3>
                <p class="precio-libro" th:text="${libro.precio}">$</p>
                <div class="botones-libro">
                    <form accept-charset="UTF-8" th:action="@{/detalle-libro}" method="post">
                        <input type="hidden" th:name="titulo" th:value="${libro.titulo}">
                        <a class="detalles"><button type="submit">Detalles</button></a>
                    </form>
                    <a class="comprar boton-compra"><button>Comprar</button></a>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:replace="header_footer :: footer"></footer>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/libros.js}"></script>
<script type="text/javascript" th:src="@{/js/carrito.js}"></script>
</body>
</html>
