<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Libros</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/libros.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/footer.css}"/>
    <div th:replace="header_footer::head"></div>

</head>
<body>
<header th:replace="header_footer :: headerBusqueda">

</header>
<main class="contenedor">
    <aside class="filtros">
        <form id="filtrar-libros" th:action="@{/filtrar-libros}" method="get">
            <label for="editorial">Editorial:</label>
            <select id="editorial" name="editorial">
                <option th:each="libro : ${libros}"
                        th:value="${libro.editorial}"
                        th:text="${libro.editorial}">
                </option>
            </select>
        </form>
        <form id="filtrar-precio" th:action="@{/filtrar-precio}" method="get">
            <label for="precio-min">Precio mínimo:</label>
            <input type="number" id="precio-min" name="precio-min" placeholder="Precio mínimo">
            <label for="precio-max">Precio máximo</label>
            <input type="number" id="precio-max" name="precio-max" placeholder="Precio máximo">
            <button type="submit">Filtrar</button>
        </form>
        <div class="menu-categorias">
            <ul>
                <li>
                    <a href="#">Artes</a>
                    <span class="icono-toggle"></span>
                    <ul>
                        <li><a href="#">Pintura</a></li>
                        <li><a href="#">Escultura</a></li>
                        <li><a href="#">Dibujo</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Ciencias</a>
                    <span class="icono-toggle"></span>
                    <ul>
                        <li><a href="#">Biología</a></li>
                        <li><a href="#">Química</a></li>
                        <li><a href="#">Física</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Literatura</a>
                    <span class="icono-toggle"></span>
                    <ul>
                        <li><a href="#">Poesía</a></li>
                        <li><a href="#">Novela</a></li>
                        <li><a href="#">Ensayo</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </aside>
        <section class="libros">
            <div th:each="libro : ${libros}" class="tarjeta-libro">
                <img th:src="${libro.ruta}" th:alt-title="${libro.titulo}" alt="">
                <div class="contenido-tarjeta-libro">
                    <h3 class="titulo-libro colorLetra" th:text="${libro.titulo}">Título del Libro</h3>
                    <p class="precio-libro" th:text="${libro.precio}">$</p>
                    <div class="botones-libro">
                        <form accept-charset="UTF-8" th:action="@{/detalle-libro}" method="post">
                            <input type="hidden" th:name="titulo" th:value="${libro.titulo}">
                            <a  class="detalles"><button type="submit">Detalles</button></a>
                        </form>
                        <a th:href="@{/comprar}" class="comprar"><button>Comprar</button></a>
                    </div>
                </div>
            </div>
        </section>
</main>
<footer th:replace="header_footer :: footer">

</footer>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/libros.js}"></script>


</body>
</html>
