<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/libros.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/libros.js}"></script>
</head>
<body>
    <header>
        <div class="top-section">
            <div class="logo">
                <img th:src="@{/images/logo.png}" alt="Logo">
            </div>
            <div class="nav-links">
                <div class="login">
                    <span>Iniciar sesión</span>
                    <img th:src="@{/images/iconos/user-circle.svg}" alt="Iniciar sesión">
                </div>
                <div class="cart">
                    <span>Carrito</span>
                    <img th:src="@{/images/iconos/cart.svg}" alt="Carrito">
                </div>
            </div>
        </div>
        <div class="bottom-section">
            <div class="nav-and-search">
                <div class="nav-menu">
                    <div><a href="#">Libro</a></div>
                    <div><a href="#">Catálogo</a></div>
                    <div><a href="#">Contacto</a></div>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder="Buscar...">
                </div>
            </div>
        </div>
    </header>
    <main class="container">
        <aside class="filters">
            <form>
                <label for="editorial">Editorial:</label>
                <select id="editorial" name="editorial">
                    <option value="editorial1">Editorial 1</option>
                    <option value="editorial2">Editorial 2</option>
                </select>
                <label for="precio" >Precio:</label>
                <input type="number" id="price-min" name="price-min" placeholder="Precio mínimo">
                <input type="number" id="price-max" name="price-max" placeholder="Precio máximo">
                <button type="submit">Filtrar</button>
            </form>
            <div class="categories-menu">
                <ul>
                    <li>
                        <a href="#">Artes</a>
                        <span class="toggle-icon"></span>
                        <ul>
                            <li><a href="#">Pintura</a></li>
                            <li><a href="#">Escultura</a></li>
                            <li><a href="#">Dibujo</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Ciencias</a>
                        <span class="toggle-icon"></span>
                        <ul>
                            <li><a href="#">Biología</a></li>
                            <li><a href="#">Química</a></li>
                            <li><a href="#">Física</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Literatura</a>
                        <span class="toggle-icon"></span>
                        <ul>
                            <li><a href="#">Poesía</a></li>
                            <li><a href="#">Novela</a></li>
                            <li><a href="#">Ensayo</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>
        <section class="books">
            <div class="book-card">
                <img th:src="@{/images/libros/libro1.jpg}" alt="Libro 1">
                <div class="book-card-content">
                    <h3 class="book-title">Título del Libro 1</h3>
                    <p class="book-price">$19.99</p>
                    <div class="book-buttons">
                        <button>Detalles</button>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            <div class="book-card">
                <img th:src="@{/images/libros/libro2.jpg}" alt="Libro 1">
                <div class="book-card-content">
                    <h3 class="book-title">Título del Libro 1</h3>
                    <p class="book-price">$19.99</p>
                    <div class="book-buttons">
                        <button>Detalles</button>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            <div class="book-card">
                <img th:src="@{/images/libros/libro3.jpg}" alt="Libro 1">
                <div class="book-card-content">
                    <h3 class="book-title">Título del Libro 1</h3>
                    <p class="book-price">$19.99</p>
                    <div class="book-buttons">
                        <button>Detalles</button>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            <div class="book-card">
                <img th:src="@{/images/libros/libro4.jpg}" alt="Libro 1">
                <div class="book-card-content">
                    <h3 class="book-title">Título del Libro 1</h3>
                    <p class="book-price">$19.99</p>
                    <div class="book-buttons">
                        <button>Detalles</button>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
            <div class="book-card">
                <img th:src="@{/images/libros/libro5.jpg}" alt="Libro 1">
                <div class="book-card-content">
                    <h3 class="book-title">Título del Libro 1</h3>
                    <p class="book-price">$19.99</p>
                    <div class="book-buttons">
                        <button>Detalles</button>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
