<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/perfilAdmin.css}"/>

    <div th:replace="header_footer::head"></div>
</head>
<body>

<header th:replace="header_footer :: headerAdmin"></header>

<h1 th:text="${usuario.getNombre()}"></h1>

<div>
    <ul class="nav nav-tabs listadesordenada">
        <li class="nav-item">
            <a class="nav-link active" href="#" onclick="mostrarContenido('libros')">Libros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="mostrarContenido('usuarios')">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="mostrarContenido('home')">Home</a>
        </li>
    </ul>
</div>

<section class="tablas lightblue" id="libros" style="display:block">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
            th:action="@{/agregarLibroABDD}">
        Agregar nuevo libro
    </button>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        Eliminar libro
    </button>

    <div th:if="${error != null}" class="alert alert-danger" role="alert">
        <!--/*@thymesVar id="error" type=""*/-->
        <span th:text="${error}"></span>
    </div>

    <!-- Mensaje exitoso -->
    <div th:if="${exitoso != null}" class="alert alert-success" role="alert">
        <!--/*@thymesVar id="exitoso" type=""*/-->
        <span th:text="${exitoso}"></span>
    </div>

    <div class="contenedor-libro">
        <div th:each="libro : ${libros}" class="card" style="width: 18rem;">
            <img th:src="${libro.ruta}" class="card-img-top" th:alt="${libro.titulo}" width="286px" height="410px">
            <div class="card-body detalle-tarjetas">
                <h5 class="card-title" th:text="${libro.titulo}"></h5>
                <form accept-charset="UTF-8" th:action="@{/detalle-libro}" method="post">
                    <input type="hidden" th:name="titulo" th:value="${libro.titulo}">
                    <a class="detalles">
                        <button type="submit" class="btn btn-primary">Detalles</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="tablas lightblue" id="usuarios" style="display:none;">
    <h3>Usuarios Administradores:</h3>
    <div class="container">
        <div th:each="usuario : ${usuariosAdmin}" class="contenedor">
            <div>
                <div class="avatar-perfiles">
                    <img th:src="@{'/images/' + ${usuario.foto}}" th:alt="${usuario.foto}">
                </div>
                <div class="nombre">
                    <h2 th:text="${usuario.nombreDeUsuario}"></h2>
                </div>
            </div>
            <div class="descripcion">
                <h4>Descripción:</h4>
                <p th:text="${usuario.descripcion}"></p>
                <div class="preferencias">
                    <span class="etiqueta" th:text="${usuario.generoFav1}"></span>
                    <span class="etiqueta" th:text="${usuario.generoFav2}"></span>
                </div>
            </div>
        </div>
    </div>
    <h3>Usuarios:</h3>
    <div class="container">
        <div th:each="usuario : ${usuarios}" class="contenedor">
            <div>
                <div class="avatar-perfiles">
                    <img th:src="@{'/images/' + ${usuario.foto}}" th:alt="${usuario.foto}">
                </div>
                <div class="nombre">
                    <h2 th:text="${usuario.nombreDeUsuario}"></h2>
                </div>
            </div>
            <div class="descripcion">
                <h4>Descripción:</h4>
                <p th:text="${usuario.descripcion}"></p>
                <div class="preferencias">
                    <span class="etiqueta" th:text="${usuario.generoFav1}"></span>
                    <span class="etiqueta" th:text="${usuario.generoFav2}"></span>
                </div>
                <form th:action="@{/eliminarUsuario}" method="post">
                    <input type="hidden" name="idUsuario" th:value="${usuario.id}">
                    <button type="submit" class="btn btn-danger configuracion">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="tablas lightblue" id="home" style="display:none;">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarRecomendadosModal">
        Editar libros recomendados
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newsletterModal">
        Enviar Newsletter
    </button>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar nuevo libro</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form accept-charset="utf-8" th:action="@{/agregarLibroABDD}" method="POST" th:object="${datosLibro}"
                      enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Selecciona tu foto de perfil</label>
                        <input class="form-control" type="file" id="formFile" name="file">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="titulo">Titulo</span>
                        <input th:field="*{titulo}" type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="autor">Autor</span>
                        <input th:field="*{autor}" type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="editorial">Editorial</span>
                        <input th:field="*{editorial}" type="text" class="form-control"
                               aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="fechaDePublicacion">Fecha de publicacion</span>
                        <input th:field="*{fechaPublicacion}" type="text" class="form-control"
                               aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="precio">Precio</span>
                        <input th:field="*{precio}" type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="descripcion">Descripcion</span>
                        <input th:field="*{descripcion}" type="text" class="form-control"
                               aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <select th:field="*{genero}" class="form-select" aria-label="Default select example" name="generos"
                            id="generos">
                        <option value="0" disabled selected>seleccione un genero</option>
                        <option value="1">Ficcion</option>
                        <option value="2">Cuento</option>
                        <option value="3">Novela</option>
                        <option value="4">Poesia</option>
                    </select>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Agregar libro</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel2">Eliminar libro</h1>
                <button type="button" class="btn-close btn-close-white" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form accept-charset="utf-8" th:action="@{/eliminarLibroDeBDD}" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="nombreLibro2">Titulo</span>
                        <input type="text" name="titulo" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Eliminar libro</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editarRecomendadosModal" tabindex="-1" aria-labelledby="editarRecomendadosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="librosModalLabel">Libros Destacados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>Lista Actual</h2>
                <ul class="list-group mb-3">
                    <div th:if="${#lists.isEmpty(librosDestacados)}" class="alert alert-info">
                        <p th:text="'Aún no hay una lista de libros destacados, se muestran todos los libros en su lugar'"></p>
                    </div>
                    <li class="list-group-item" th:each="libro : ${librosDestacados}">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img th:src="@{${#strings.replace(libro.getRuta(), '/spring', '')}}" alt="Imagen del libro" width="50" height="75" class="mr-3" id="imgDestacado"/>
                                <span th:text="${libro.titulo}"></span>
                            </div>
                            <form th:action="@{/eliminarLibroDestacado}" method="post" class="mb-0">
                                <input type="hidden" th:name="libroId" th:value="${libro.id}"/>
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </div>
                    </li>
                </ul>
                <h2>Agregar Libro</h2>
                <form th:action="@{/agregarLibroDestacado}" method="post">
                    <div class="form-group">
                        <label for="libroId">Selecciona un libro</label>
                        <select id="libroId" name="libroId" class="form-control">
                            <option th:each="libro : ${libros}" th:value="${libro.id}" th:text="${libro.titulo}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newsletterModal" tabindex="-1" aria-labelledby="newsletterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newsletterModalLabel">Enviar Newsletter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/enviarNewsletter}" method="post">
                    <div class="mb-3">
                        <label for="tema" class="form-label">Asunto:</label>
                        <input type="text" id="tema" name="tema" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="mensaje" class="form-label">Mensaje:</label>
                        <textarea id="mensaje" name="mensaje" class="form-control" rows="5" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Enviar Newsletter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="header_footer :: footer"></footer>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        mostrarContenido('libros');
    });

    function mostrarContenido(opcion) {
        const secciones = ['libros', 'usuarios', 'home'];
        secciones.forEach(function (seccion) {
            document.getElementById(seccion).style.display = (seccion === opcion) ? 'block' : 'none';
        });
    }
    document.addEventListener("DOMContentLoaded", function () {
        var navLinks = document.querySelectorAll('.nav-link');
        navLinks.forEach(function (link) {
            link.addEventListener('click', function (event) {
                navLinks.forEach(function (link) {
                    link.classList.remove('active');
                });
                event.target.classList.add('active');
            });
        });
    });
</script>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script th:src="@{/js/menuUsuario.js}"></script>

</body>
</html>
