<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PLANES</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/planes.css}"/>
    <div th:replace="header_footer::head"></div>

</head>
<body>

<header th:replace="header_footer :: header"></header>

<main>
    <div th:if="${error != null}" class="alert alert-danger" role="alert">
        <!--/*@thymesVar id="error" type=""*/-->
        <span th:text="${error}"></span>
    </div>
    <section class="pricing-plans">
        <div class="pricing-card basic">
            <div class="heading">
                <h4>BASIC</h4>
            </div>
            <p class="price">
                $10.000
                <sub>/month</sub>
            </p>
            <ul class="features">
                <li th:utext="${basic}"></li>
            </ul>
            <form th:action="@{/comprarPlanBasico}" method="post">
                <button class="cta-btn" type="submit">SELECT</button>
            </form>
        </div>

        <div class="pricing-card standard">
            <div class="heading">
                <h4>STANDARD</h4>
            </div>
            <p class="price">
                $25.000
                <sub>/month</sub>
            </p>
            <ul class="features">
                <li th:utext="${estandar}"></li>
            </ul>
            <form th:action="@{/comprarPlanEstandar}" method="post">
                <button class="cta-btn" type="submit">SELECT</button>
            </form>
        </div>

        <div class="pricing-card premium">
            <div class="heading">
                <h4>PREMIUM</h4>
            </div>
            <p class="price">
                $39.999
                <sub>/month</sub>
            </p>
            <ul class="features">
                <li th:utext="${premium}"></li>
            </ul>
            <form th:action="@{/comprarPlanPremium}" method="post">
                <button class="cta-btn" type="submit">SELECT</button>
            </form>
        </div>
    </section>
</main>

<footer th:replace="header_footer :: footer"></footer>

<script type="text/javascript" th:src="@{/js/carrito.js}"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script th:src="@{/js/menuUsuario.js}"></script>

</body>
</html>
